.src-components-new-quote-sidebar > .menu.ui {
  background: #5faac7 !important;
  border-radius: 0;
  border-color: #5faac7 !important; }

.src-components-new-quote-sidebar .message-container {
  display: flex;
  padding: 10px; }
  .src-components-new-quote-sidebar .message-container.error {
    color: #9f3a38;
    background: #fff6f6; }

.src-components-new-quote-sidebar .message-icon {
  margin-right: 15px;
  font-size: 1.5em;
  color: #9f3a38 !important; }

.src-components-new-quote-sidebar .message-header {
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 10px; }

.src-components-new-quote-sidebar .pane {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word; }
  .src-components-new-quote-sidebar .pane .list-item {
    cursor: pointer; }
