.src-components-tags-modal .error-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f3a38;
  font-weight: 900;
  font-size: 1.2em; }

.src-components-tags-modal {
  margin-top: -20px !important;
  overflow: hidden !important;
  max-width: 500px; }
  .src-components-tags-modal .content {
    word-wrap: break-word; }
  .src-components-tags-modal .modal-close {
    flex-shrink: 0;
    font-weight: 900;
    font-size: 2rem;
    text-align: right;
    cursor: pointer;
    color: #32748e; }
  .src-components-tags-modal .list {
    background: white;
    padding: 8px !important;
    flex: 1;
    overflow: auto;
    margin-top: 0;
    border: 1px solid #dad8d8; }
  .src-components-tags-modal .list-item {
    cursor: pointer; }
  .src-components-tags-modal .no-resources-message {
    text-align: center;
    font-weight: 900;
    max-width: 96%;
    color: #fff;
    background: #3f93b4; }
