.login-route {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column; }

.login-route .main {
  flex: 1;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto; }

.login-route .to-reg-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
  color: #fff !important;
  background-color: #5faac7;
  padding: 8px;
  text-align: center;
  border-radius: 0.3rem;
  font-weight: bolder; }

.login-route .form .field {
  margin-bottom: 15px !important; }

.login-route .form .field.disabled > label {
  opacity: 1; }

.login-route .form .field.disabled input {
  background-color: #f5f5f5;
  pointer-events: none; }

.login-route .form .ui.message.error {
  display: block;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: -10px;
  background-color: #fff6f6;
  box-shadow: none;
  font-size: 1em; }
  .login-route .form .ui.message.error .header {
    font-size: 1em;
    font-weight: 500; }

.login-route .ui.message > .close.icon {
  color: #960101 !important; }

.login-route .form-title {
  color: #3e89a7 !important;
  font-weight: 900 !important;
  font-size: 1.2em !important; }

.login-route .main {
  display: flex;
  align-items: center;
  justify-content: center; }

.login-route .card {
  min-width: 314px; }
