@import "../../styles//variables";

.src-components-app-sidebar.ui {
  width: 100%;
  height: 100%;

  .ui.vertical.left.sidebar {
    width: 200px !important;
    background: $app-color;

    & > .item {
      display: flex !important;
      flex-direction: row !important;
      align-items: center;
      padding: 12px 5px;
      color: white;

      & > i.icon {
        margin: 0 10px 0 5px !important;
        color: white !important;
        font-size: 1.2em !important;
      }

      & > span {
        font-weight: bold;
      }

      &.sidebar-trigger-sidebar {
        position: absolute;
        left: 0;
        min-width: 10px;
        padding: 10px 150px 0 5px;

        &::before {
          width: 0;
        }
      }
    }
  }

  &.pushable-min-width-600 {
    &.pushable-showing-sidebar {
      position: initial;
      display: flex;

      & > .ui.sidebar {
        position: relative;
      }

      & > .pusher {
        flex: 1;
      }
    }

    & > .sidebar {
      &.visible.overlay {
        transition: transform 0s ease !important;
      }

      &.overlay.left:not(.visible) {
        transition: transform 0.5s ease !important;
      }

      & > .item {
        &:nth-child(2) {
          margin-top: 50px;
        }
      }
    }
  }

  .home-menu.active {
    background: none !important;
  }

  @keyframes animate-pusher {
    0% {
      width: 100%;
    }
    100% {
      width: auto;
    }
  }
}
