@import "../styles/extensions";

.user-reg-route {
  @extend %route;

  .main {
    @extend %route-main;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card {
    min-width: 314px;
    height: 100%;
    overflow-y: auto;
  }

  .form-title {
    @extend %form-title;
  }

  @extend %msg-error-close;

  .to-login-button {
    @extend %auth-redirect-btn;
  }

  @extend %form;
}
