@import "../../styles//variables";

.src-components-app-sidebar {
  .ui.vertical.left.sidebar {
    width: 200px !important;
    border: 1px solid $app-color;

    & > .item {
      display: flex !important;
      flex-direction: row !important;
      align-items: center;
      padding: 12px 5px;

      & > i.icon {
        margin: 0 10px 0 5px !important;
        font-style: normal;
      }

      & > span {
        font-weight: bold;
      }
    }
  }
}
