@import "../../styles/extensions";

.select-project {
  @extend %route;

  .main {
    @extend %route-main;

    & > .form {
      & > .control {
        display: flex;

        & > .field {
          margin-bottom: 0.3em;
        }

        & > .input {
          flex: 1;
        }

        & > .icon {
          padding: 5px 30px 30px 10px;
          cursor: pointer;
        }
      }

      & > .message {
        color: red;
      }
    }

    .project-row {
      cursor: pointer;
    }
  }

  .no-project {
    text-align: center;
  }

  .your-projects {
    width: 100%;
    border-bottom: 2px solid #ccc7c7;
    text-align: center;
    margin-bottom: 20px;

    .label {
      position: relative;
      top: 10px;
      background: #fff;
      font-weight: 900;
      font-size: 1.2em;
      padding: 0 5px;
    }
  }
}
