.src-components-header {
  flex-shrink: 0;
  border-radius: 0;
  margin: 0 0 10px 0;
  border-radius: 0 !important;
  position: relative;
  background-color: #5faac7;
  color: white;
  padding: 3px 0 0 3px; }
  .src-components-header .top {
    display: flex;
    padding: 5px; }
    .src-components-header .top > .sidebar-trigger {
      min-width: 40px; }
      .src-components-header .top > .sidebar-trigger:hover {
        background-color: #429abc; }
      .src-components-header .top > .sidebar-trigger > .icon {
        color: white !important; }
  .src-components-header .title {
    font-weight: 700;
    font-size: 1.2rem;
    flex: 1; }
  .src-components-header .bottom {
    display: flex;
    flex-direction: row-reverse; }
  .src-components-header .project-title {
    padding: 1px 3px;
    font-style: italic;
    font-weight: bolder;
    color: #fff; }
