.home-new-author {
  & > .content {
    width: 100% !important;
    overflow-y: auto !important;

    & > * {
      margin-right: 5px;
    }
  }

  .ui {
    &.message {
      min-height: initial;
      margin-bottom: 0;
      padding: 0.2em 0.5em;
    }

    &.form-header {
      margin: 0.9em 0;
    }
  }

  .authors-display-header {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  .authors-list {
    padding-left: 20px;
    margin-top: 10px;
  }

  .go-create-source {
    cursor: pointer;
    background-color: #a3c293;
  }
}
