.author-route {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .author-route .main {
    flex: 1;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all; }
  .author-route a {
    color: #012d58; }
  .author-route .text {
    display: block; }
  .author-route .edit-author-icon {
    cursor: pointer;
    margin-left: 10px; }
  .author-route .author-full-name {
    font-weight: 900;
    font-size: 1.5em; }
